body{
	/*去除横向滚动条*/
	overflow-x:hidden; 
}
.neikuan{
	width: 1200px;
	margin: 0 auto;
}
.daohang{
	width: 1198px;
	height: 147px;
	/*border:1px solid #000;*/
	background-image: url(../img/技术15.png);
	background-repeat: no-repeat;
	overflow: hidden;
	/*float: left;*/
	
}
.fenlei{
		margin-top: 58px;
		margin-left: 34px;
		font-size: 20px;
		float: left;
		line-height: 70px;
}
.fenlei001{
	margin-left: 360px;
}
.hezi1{
	float: left;
	width: 82px;
	height: 63px;
	margin-right: 50px;
	text-align: center;
	color: #2d2b2b;
}
.hezi1:hover{
	border-bottom: 2px solid #ffc03f;
	color:#ffc03f;
}
.hot1{
	color: #ffc03f;
	border-bottom: 2px solid #ffc03f;
}
.banner{
	width: 1200px;
	height:461px;
	/*float: left;*/
	background-image: url(../img/案例13.png);
	background-repeat: no-repeat;
	overflow: hidden;
	/*padding-top: 1px;*/	
}
.heitiao{
	width: 1200px;
	height: 64px;
	/*background: red;*/
	background: url(../img/技术02.png);
	background-repeat: no-repeat;
	overflow: hidden;
}
.weizhi{
	line-height: 64px;
	margin-left: 10px;
	font-size: 18px;
	color: white;
	float: left;
}
.baise{
	color: white;
}
.baise:hover{
	color: #ffc03f;
}
.diyibu{
	width: 1200px;
	height: 290px;
	/*background: red;*/
}
.zuo{
	width: 201px;
	height: 176px;
	/*background: green;*/
	background-image: url(../img/技术03.png);
	background-repeat: no-repeat;
	float: left;
	
}

.zuowen{
	line-height: 50px;
	/*margin-left: 40px;*/
	text-align: center;
}
.zuowen2{
	line-height: 27px;
	text-align: center;
	margin-top: 20px;
}
.zuowen3{
	line-height: 27px;
	text-align: center;
	margin-top: 14px;
}
.zuowen4{
	line-height: 27px;
	text-align: center;
	margin-top: 14px;
}
.zhong{
	width:360px;
	height: 128px;
	padding: 1px;
	/*background: blue;*/
	float: left;
	margin-left: 195px;
	margin-top: 160px;
	background-image: url(../img/技术08.png);
	background-repeat: no-repeat;
}
.you{
	width: 391px;
	height: 268px;
	/*background: blue;*/
	float: left;
	padding: 1px;
	margin-top: 18px;
	margin-left:30px;
}
.dierbu{
	width: 1198px;
	height: 378px;
	/*background:red;*/
	padding: 1px;
}
.dierxia{
	width: 790px;
	height: 265px;
	margin-left: 206px;
	margin-top: 40px;
}
.diershang{
	width: 790px;
	height: 40px;
	margin-top: 10px;
	margin-left: 206px;
	text-align: center;
}
.timu{
    color: #222;
}
.xian1{
	width: 350px;
	height: 1px;
	background: #ffc03f;
}
.xian2{
	width: 350px;
	height: 1px;
	background: #ffc03f;
	float: right;
}
.erzuo{
	width: 178px;
	height: 264px;
	/*background:blue;*/
	/*margin-left: 206px;*/
	/*margin-top: 80px;*/
	float: left;
	overflow: hidden;
	transition:all 1s;

}
.erzuo:hover{
	box-shadow: 0px 0px 5px #093832;
	border-radius: 30px;
	transform:scale(1.2,1.2);
}
.erzuo1{
	width: 178px;
	height: 264px;
	/*background:blue;*/
	margin-left: 26px;
	/*margin-top: 80px;*/
	float: left;
	overflow: hidden;
	transition:all 1s;
}
.erzuo1:hover{
	box-shadow: 0px 0px 5px #093832;
	border-radius: 30px;
	transform:scale(1.2,1.2);
}
.disanbu{
	width: 1198px;
	height: 398px;
	/*background:red;*/
	padding: 1px;
}
.disanxia{
	width: 790px;
	height: 265px;
	margin-left: 206px;
	margin-top: 40px;
}
.disanshang{
	width: 790px;
	height: 40px;
	margin-top: 10px;
	margin-left: 206px;
	text-align: center;
}
.sanzuo{
	width: 178px;
	height: 264px;
	/*background:blue;*/
	/*margin-left: 206px;*/
	/*margin-top: 80px;*/
	float: left;
	overflow: hidden;
	transition:all 1s;
}
.sanzuo:hover{
	box-shadow: 0px 0px 5px #093832;
	border-radius: 30px;
	transform:scale(1.2,1.2);
}
.sanzuo1{
	width: 178px;
	height: 264px;
	/*background:blue;*/
	margin-left: 26px;
	/*margin-top: 80px;*/
	float: left;
	overflow: hidden;
	transition:all 1s;
}
.sanzuo1:hover{
	box-shadow: 0px 0px 5px #093832;
	border-radius: 30px;
	transform:scale(1.2,1.2);
}
.disibu{
	width: 1198px;
	height: 398px;
	/*background:red;*/
	padding: 1px;
	margin-bottom: 58px;
}
.disixia{
	width: 790px;
	height: 265px;
	margin-left: 206px;
	margin-top: 40px;
}
.disishang{
	width: 790px;
	height: 40px;
	margin-top: 10px;
	margin-left: 206px;
	text-align: center;
}
.sizuo{
	width: 178px;
	height: 264px;
	/*background:blue;*/
	/*margin-left: 206px;*/
	/*margin-top: 80px;*/
	float: left;
	overflow: hidden;
	transition:all 1s;

}
.sizuo:hover{
	box-shadow: 0px 0px 5px #093832;
	border-radius: 30px;
	transform:scale(1.2,1.2);
}
.sizuo1{
	width: 178px;
	height: 264px;
	/*background:blue;*/
	margin-left: 26px;
	/*margin-top: 80px;*/
	float: left;
	overflow: hidden;
	transition:all 1s;
}
.sizuo1:hover{
	box-shadow: 0px 0px 5px #093832;
	border-radius: 30px;
	transform:scale(1.2,1.2);
}
.foot{
	width: 1198px;
	height:375px;
	background: black;

}
.hsk{
	width: 1130px;
	height: 110px;
	margin: 0 auto;
	padding: 1px;
	background-image: url(../img/技术13.png);
	background-repeat: no-repeat;
}
.dingzhi{
	width: 500px;
	height: 40px;
	margin-top: 34px;
	margin-left: 80px;
	font-size: 28px;
	float: left;
}
.dhk{
	width: 299px;
	height: 40px;
	/*background: green;*/
	float: left;
	margin-top: 34px;
	margin-left: 30px;
	background-image: url(../img/技术14.png);
	background-repeat: no-repeat;
	transition:all 1s;
}
.dhk:hover{
	box-shadow: 0px 0px 5px #093832;
	transform:scale(1.1,1.1);
}
.haoma{
	width: 200px;
	height: 30px;
	/*background: green;*/
	margin-top: 3px;
	margin-left: 20px;
	font-size: 24px;
}
.footzuobian{
	width: 498px;
	height: 263px;
	/*background: #988;*/
	float: left;
}
.saoma{
	width: 147px;
	height: 147px;
	/*background: green;*/
	margin-left: 34px;
	margin-top: 44px;
	background-image: url(../img/技术12.png);
	background-repeat: no-repeat;
	float: left;
}
.footwenzi{
	width: 400px;
	height: 30px;
	/*background: green;*/
	margin-top: 44px;
	margin-left: 190px;
	color: white;
}
.footwenzi1{
	width: 400px;
	height: 30px;
	/*background: green;*/
	margin-top: 10px;
	margin-left: 190px;
	color: white;
}
.footwenzi2{
	width: 400px;
	height: 30px;
	/*background: green;*/
	margin-top:10px;
	margin-left: 190px;
	color: white;
}
.footwenzi3{
	width: 400px;
	height: 30px;
	/*background: green;*/
	margin-top: 12px;
	margin-left: 190px;
	color: white;
}
.footyoubian{
	width: 490px;
	height: 263px;
	/*background: #988;*/
	float:right;
	margin-right: 68px;
}
.diyibufen{
	width: 58px;
	height:140px;
	/*background: #877;*/
	margin-top: 59px;
	float: left;
}
.footwenzi4{
	height: 24px;
	color: white;
	border-bottom: 1px solid #fff;
}
.footwenzi5{
	height: 24px;
	margin-top: 8px;
	color: white;
}
.footwenzi6{
	height: 24px;
	color: white;
	margin-top: 8px;
}

.footwenzi7{
	height: 24px;
	color: white;
	margin-top: 8px;
}
.dierbufen{
	width: 58px;
	height:140px;
	/*background: #877;*/
	margin-top: 59px;
	float: left;
	margin-left: 100px;
}
.lianxi{
	height: 24px;
	color: white;
	border-bottom: 1px solid #fff;
}
.lianxi2{
	height: 24px;
	margin-top: 8px;
	color: white;
}
.lianxi3{
	height: 24px;
	margin-top: 8px;
	color: white;
}
.disanbufen{
	width: 58px;
	height:140px;
	/*background: #877;*/
	margin-top: 59px;
	float: left;
	margin-left: 100px;
}
.guanyu{
	height: 24px;
	color: white;
	border-bottom: 1px solid #fff;
}
.guanyu2{
	height: 24px;
	margin-top: 8px;
	color: white;
}
.dbwz{
	color: #fff;
	font-size: 14px;
}
.dbwz:hover{
	color: #ffc03f;
}
